# Node.js
node_modules/
src/.env
dist/
coverage/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
.DS_Store

# Build files
build/
/package-lock.json

# Secrets
/parkhang.key
/parkhang.cert
